apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - ./bct_price
  - ./klima_price
  - ./mco2_price
  - ./nbo_price
  - ./nct_price
  - ./staking_rewards
  - ./ubo_price
  - ./retirement_fee_info
  - ./cco2_price

namespace: discord-bots

secretGenerator:
  - name: discord-bots-secret
    envs:
      - secret.properties
